.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #2d3441;
  display: block;
  padding: 30px;
  border:10px solid #61dafb;
  font-size: 30px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.App-link:active{
  background-color: #3f5277;
}

.App-link > small{
  font-size: 17px;
  font-weight: bold;
}

.who-block {
  display: flex;
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 4px solid #61dafb;
  margin-bottom: 25px;
}

.who-block .input-name {
  background-color: #252e3f;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 14px;
  border-left: 6px solid #50a5bd;
  border-right: 6px solid #50a5bd;
  text-align: center;
}

.who-block .input-name::placeholder {
  color: #50a5bd;
}

.who-block .input-name:focus{
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
